@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Color-1:#474073;
  --Color-2:#4F4D8C;
  --Color-3:#8F8EBF;
  --Color-alternative-3:#737398;
  --Color-4:#2E4159;
  --Color-5:#262626;
  --Text-1:#8F8EBF;
  --Text-2:#B9B8F6;
}
body{
  background: linear-gradient(to right, #8F8EBF, #474073, #4F4D8C);
    /* background: var(--Color-5) */
}